# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django specific
*.sqlite3
db.sqlite3
.env
*.env
*.log
staticfiles/
media/

# Migrations
**/migrations/
!**/migrations/__init__.py  # Keep init files for package recognition

# VSCode
.vscode/

# Virtual Envs
venv/
env/
myenv/

# IDEs and editors
*.swp
*.swo
.idea/

# OS files
.DS_Store
Thumbs.db
